body {
    /* min-height: 100vh;
    min-width: 100vw; */
    width: 100vw;
    background-color: rgb(246, 245, 250);
    padding: 0;
    margin: 0;
}

.katex {
    font-size: 2.5em !important;
}

span.mord.text {
    font-size: 0.75em;
    letter-spacing: 3px !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.sidebar-image {
    width: 40px;
    height: 40px;
    padding: 0;
}

.sidebar {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    /* width: 120px; */
    padding-top: 30px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    /* padding-left: 15px; */
    /* margin-right: 3%; */
}

.sidebar-div {
    margin: 0;
}

.sidebar-div .text {
    margin-top: 20px;
    font-size: 12px;
    color: rgb(160, 160, 160)
}

.sidebar-div .text .active {
    color: rgb(71, 71, 71)
}

.sidebar-div a:hover {
    color: rgb(71, 71, 71);
}

.sidebar-div img {
    stroke: rgb(160, 160, 160);
}

.sidebar-div img .active {
    stroke: rgb(71, 71, 71)
}

.content-menu-bar {
    padding-top: 25px;
    align: right;
    /* padding-right: 25px; */
}

.content-menu-bar h3 {
    color: rgb(160, 160, 160)
}

.content {
    background-color: white;
}
.content-row {
    margin-top: 50px;
    height: 170px;
    padding: 25px;
    color: white;
}

.question-row {
    margin-top: 50px;
    padding: 25px;
}

.content-row button {
    width: 100%;
    margin-top: 15px;
}

.content-stats {
    background: linear-gradient(rgb(88, 234, 229), rgb(151,138, 239));
    color: white;
}

.content-question {
    background: linear-gradient(45deg, rgb(88, 234, 229), rgb(151,138, 239));
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-mcat-exam {
    background: linear-gradient(rgb(231, 115, 233), rgb(133, 104, 243));
    color: white;
}

.content-mcat-edu {
    background: linear-gradient(rgb(200, 200, 200), rgb(160,160, 160));
    color: white;
}

.content-register {
    background: linear-gradient(rgb(231, 115, 233), rgb(133, 104, 243));
    color: white;
    padding: 25px;
}

#top-stats-graph {
    position: absolute;
    margin: 25px;
}

#mcat-graph {
    position: absolute;
    margin: 25px;
}

#register-graph {
    position: absolute;
    margin: 25px;
}

#answer_container {
    width: 100%;
}

.form-mcat {
    border: none !important;
    background-image: linear-gradient(to right, gray 33%, rgba(127,127,127,0) 0%);
    background-position: bottom;
    background-size: 16px 1px;
    background-repeat: repeat-x;
    width: 100%;
    font-size: 20pt;
}

.symbol_input {
    color: gray;
    margin-bottom: 30px;
}