<!--  ___   ___    _   _     _      ___   ___    -->
<!-- | __| |   \  | | | |   /_\    / __| | __|   -->
<!-- | _|  | |) | | |_| |  / Δ \  | (__  | _|    -->
<!-- |___| |___/   \___/  /_/ \_\  \___| |___|   -->

<!--    Hey - welcome to the HTML! -->
<!--    Keen to get more involved? Visit eduace.com/careers -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">


    <title>{% block title %}{% endblock %}</title>

    <!-- Import Bootstrap CSS, jQuery, PopperJS, and Bootstrap JS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    {% block imports %}{% endblock %}

</head>

<body class="bg-secondary">

    {% block body %}{% endblock %}

</body>

<footer>

    {% block scripts %}{% endblock %}

</footer>
</html>