{% extends "base.html" %}
{% from "macros.html" import nav_bar_dash %}

{% block title %}EduAce Dashboard{% endblock %}

{% block body %}

    {{ nav_bar_dash() }}
    <br>
    <div class="container">
        <div class="jumbotron">
            <p class="lead text-center">Get learned!</p>
            <br><br><br><br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <a href="/_generate_mcat_exam"><div class="col-md-3 text-center"><button class="btn btn-primary btn-lg">Generate new MCAT Exam...</button></div></a>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}