{% extends "base.html" %}
{% from "macros.html" import nav_bar_dash %}

{% block title %}EduAce Dashboard{% endblock %}

{% block body %}

    {{ nav_bar_dash() }}
    <br>
    <div class="container">
        <div class="jumbotron">
            <p class="lead text-center">Tree of learning stuff in here</p>
            <p class="lead text-center">Blablabla this is your progress in this course...</p>
            <br><br><br><br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3 text-center"><button class="btn btn-primary btn-lg">Replay...</button></div>
                    <div class="col-md-3 text-center"><button class="btn btn-success btn-lg">Continue...</button></div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}