<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <title>Eduace Quiz Applet</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ g.include_bootstrap|safe }}


</head>

<body class="container">
<br>
    <div class="jumbotron text-center">

        <div class="dropdown center">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Selection question...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/question/1.1.1">1.1.1</a>
                <a class="dropdown-item" href="/question/1.1.2">1.1.2</a>
                <a class="dropdown-item" href="/question/1.1.3">1.1.3</a>
                <a class="dropdown-item" href="/question/1.1.4">1.1.4</a>
                <a class="dropdown-item" href="/question/1.2.1">1.2.1</a>
                <a class="dropdown-item" href="/question/1.2.2">1.2.2</a>
                <a class="dropdown-item" href="/question/1.3.1">1.3.1</a>
                <a class="dropdown-item" href="/question/1.3.2">1.3.2</a>
                <a class="dropdown-item" href="/question/1.1.3">1.3.3</a>
                <a class="dropdown-item" href="/question/1.3.4">1.3.4</a>
                <a class="dropdown-item" href="/question/3.1.1">3.1.1</a>
                <a class="dropdown-item" href="/question/4.2.2">4.2.2</a>
            </div>
        </div>
    </div>

</body>
<footer>

</footer>
</html>