{% extends "base.html" %}
{% from "macros.html" import nav_bar_dash %}

{% block title %}EduAce Dashboard{% endblock %}

{% block body %}

    <!-- Static Desktop Sidebar -->
    <div class="col-md-2">

        <!-- Logo Row -->
        <div class="row">
            <img class="sidebar_logo_image" src="{{ url_for('static', filename='logo.png') }}">
        </div>

        <!-- Home Row -->
        <div class="row">
            <img src="{{ url_for('static', filename='icons/house.svg') }}">
            <p class="text">Home</p>
        </div>


    </div>

    <!-- Static Desktop Content -->
    <div class="col-md-12">

    </div>

{% endblock %}