    <div class="container text-center" style="box-sizing: border-box;width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;min-width: 992px!important;text-align: center!important;">

    <h1 style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-family: Arial;font-weight: 500;line-height: 1.2;color: inherit;font-size: 2.5rem;">EduAce</h1>

    <h2 style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-family: Arial;font-weight: 500;line-height: 1.2;color: inherit;font-size: 2rem;orphans: 3;widows: 3;page-break-after: avoid;"> You're almost ready to fly... </h2>

    <img style="width: 100%; margin-bottom: 50px; margin-top: 50px;" src="https://i.imgur.com/TaxwIcw.png">

    <a href="{{ confirm_link }}" style="box-sizing: border-box;color: #007bff;text-decoration: underline;background-color: transparent;-webkit-text-decoration-skip: objects;"><button class="btn btn-outline-success" style="box-sizing: border-box;border-radius: .25rem;margin: 0;font-family: Arial;font-size: 1rem;line-height: 1.5;overflow: visible;text-transform: none;-webkit-appearance: button;display: inline-block;font-weight: 400;text-align: center;white-space: nowrap;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;border: 1px solid transparent;padding: .375rem .75rem;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;color: #28a745;background-color: transparent;background-image: none;border-color: #28a745;">Verify Email</button></a>

    <hr style="box-sizing: content-box;height: 0;overflow: visible;margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">

    <p style="font-family: Arial;box-sizing: border-box;margin-top: 0;margin-bottom: 1rem;orphans: 3;widows: 3;"> If you did not register to <a href="eduace.co.nz" style="box-sizing: border-box;color: #007bff;text-decoration: underline;background-color: transparent;-webkit-text-decoration-skip: objects;"> eduace.co.nz </a> then you can safely ignore this email. </p>

    <hr style="box-sizing: content-box;height: 0;overflow: visible;margin-top: 1rem;margin-bottom: 1rem;border: 0;border-top: 1px solid rgba(0,0,0,.1);">

    </div>