{% extends "base.html" %}
{% from "macros.html" import nav_bar_dash, mathquill, katex %}

{% block title %}EduAce Quiz{% endblock %}

{% block imports %}
    {{ mathquill() }}
    {{ katex() }}
    <script src="https://cdn.jsdelivr.net/npm/katex@0.10.0-beta/dist/contrib/auto-render.min.js"></script>
    <script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>

{% endblock %}

{% block body %}

    <!-- Static Desktop Sidebar -->
    <div class="col-md-1 sidebar">

        <!-- Logo Row -->
        <div class="sidebar-div text-center">
            <img class="sidebar-image" src="{{ url_for('static', filename='logo.png') }}">
        </div>

        <br><br><br><br>

        <!-- Home Row -->
        <div class="sidebar-div text-center">
            <a href="#">
                <img class="sidebar-image" src="{{ url_for('static', filename='icons/house.svg') }}">
                <p class="text">Dashboard</p>
            </a>
        </div>

        <hr>

        <!-- MCAT Row -->
        <div class="sidebar-div text-center">
            <a href="#">
                <img class="sidebar-image" src="{{ url_for('static', filename='icons/house.svg') }}">
                <p class="active text">MCAT Exam</p>
            </a>
        </div>

        <hr>

        <!-- Example Row -->
        <div class="sidebar-div text-center">
            <a href="#">
                <img class="sidebar-image" src="{{ url_for('static', filename='icons/house.svg') }}">
                <p class="text">Level 1: <br> Algebra</p>
            </a>
        </div>

        <hr>

        <!-- Example Row -->
        <div class="sidebar-div text-center">
            <a href="#">
                <img class="sidebar-image" src="{{ url_for('static', filename='icons/house.svg') }}">
                <p class="text">Level 1: <br> Chance</p>
            </a>
        </div>

    </div>

    <!-- spacer -->
    <div class="col-md-1"></div>

    <!-- Quiz -->
    <div id="quiz-content" class="col-md-9">

        <br><br>

        <!-- Question Dropdown -->
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="question-dropdown-button" data-toggle="dropdown"> Dropdown button </button>
            <div class="dropdown-menu" id="question-dropdown-menu">

                 {% for question in sidebar_question_list %}
                    {%  if question[3] == "unanswered" %}
                        <a class="dropdown-item" id="question_dropdown_{{ question[0] }}" href="#" onClick="deploy_question({{ question[0] }}, 'left')">{{  question[2] }}</a>
                    {% else %}
                        {% if question[3] == "correct" %}
                            <a class="text-success dropdown-item" id="question_dropdown_{{ question[0] }}" href="#" onClick="deploy_question({{ question[0] }}, 'left')">{{  question[2] }}</a>
                        {% else %}
                            <a class="text-warning dropdown-item" id="question_dropdown_{{ question[0] }}" href="#" onClick="deploy_question({{ question[0] }}, 'left')">{{  question[2] }}</a>
                        {% endif %}
                    {% endif %}
                    <br>
                {% endfor %}

            </div>
        </div>

        <!-- Latex Questions -->
        <div class="container content-question rounded row question-row">

            <!-- back button -->
            <div class="col-md-1">
                <table style="height: 100%">
                    <tbody>
                        <td class="align-middle"><button id="previous_question" class="btn btn-outline-light"> < </button></td>
                    </tbody>
                </table>
            </div>

            <!-- question content -->
            <div class="col-md-10 latex_container">

                    <span class="latex_deletable centering">Loading...</span>

            </div>

            <!-- forwards button -->
            <div class="col-md-1">
                <table style="height: 100%">
                    <tbody>
                        <td class="align-middle"><button id="next_question" class="btn btn-outline-light"> > </button></td>
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Answer Entry -->
        <div class="container content rounded row question-row">

            <!-- Algebra buttons -->
            <div class="col-md-12 symbol_input">
                <button class="btn btn-outline-dark" id="insert_add"> + </button>
                <button class="btn btn-outline-dark" id="insert_minus"> - </button>
                <button class="btn btn-outline-dark" id="insert_mul"> x </button>
                <button class="btn btn-outline-dark" id="insert_div"> ÷ </button>
                <button class="btn btn-outline-dark" id="insert_pwr"> □<sup>□</sup> </button>
                <button class="btn btn-outline-dark" id="insert_surd"> √ </button>
                <button class="btn btn-outline-dark" id="insert_pi"> π </button>
                <button class="btn btn-outline-dark" id="insert_no_sol"> No Solutions </button>
                <button class="btn btn-outline-dark" id="insert_inf_sol"> Infinite Solutions </button>
            </div>

            <!-- question content -->
            <div class="col-md-12 input-group">

                <div id="answer_container">

                </div>

            </div>

        </div>

        <!-- Submit Button -->
        <br><br>
        <div class="d-flex justify-content-center container">
            <button class="btn btn-outline-secondary vertical-align" id="evaluate_answer" type="button">Submit</button>
        </div>
        <br><br>
    </div>

    <!-- SCRIPTS -->
    <!-- Latex Render, Answer-Entry, Question Deployment, Answer Submission -->
    <script>

        var current_question_id = 0

        var mq_objects = new Array();

        $(function () {
            $("#insert_inf_sol").bind('click', function() {
                mq_objects[0].latex("\\text{Infinite solutions.}");
            })
        })

        $(function () {
            $("#insert_no_sol").bind('click', function() {
                mq_objects[0].latex("\\text{No solutions.}");
            })
        })

        $(function () {
            $("#insert_add").bind('click', function() {
                mq_objects[0].write("+");
            })
        })

        $(function () {
            $("#insert_minus").bind('click', function() {
                mq_objects[0].write("-");
            })
        })

        $(function () {
            $("#insert_mul").bind('click', function() {
                mq_objects[0].cmd("*");
            })
        })

        $(function () {
            $("#insert_div").bind('click', function() {
                mq_objects[0].cmd("\\frac");
            })
        })

        $(function () {
            $("#insert_pwr").bind('click', function() {
                mq_objects[0].cmd("^");
            })
        })

        $(function () {
            $("#insert_surd").bind('click', function() {
                mq_objects[0].cmd("\\sqrt");
            })
        })

        $(function () {
            $("#insert_pi").bind('click', function() {
                mq_objects[0].write("\\pi");
            })
        })

        function deploy_question(question_id, direction) {
            if(direction == "left") {
                $("#quiz-content").animate({left: '-=4000px'});
                $("#quiz-content").animate({left: '+=8000px'}, 0);
            } else if (direction == "right") {
                $("#quiz-content").animate({left: '+=4000px'});
                $("#quiz-content").animate({left: '-=8000px'}, 0);
            };

            current_question_id = question_id;

            $.getJSON('/quiz/_load_question_json', {
                question_id: question_id,
            }, function(data) {
                // Rename dropdown box
                $("#question-dropdown-button").text(data.question_description);

                // Deploy question LaTeX
                $(".latex_deletable").remove()
                var itt;
                for (itt=0; itt < data.question_latex.length; itt++) {
                    if (data.question_latex[itt].startsWith("<svg")) {
                        $(".latex_container").append('<span class="latex_deletable centering question_diagram">' + data.question_latex[itt] + '</span>');
                    } else {
                        $(".latex_container").append('<span class="latex_deletable centering question_latex">$$' + data.question_latex[itt] + '$$</span>');
                    }
                };
                $("svg").addClass("img-fluid")

                // Render the LaTeX
                renderMathInElement(
                    document.body,
                    {
                    delimiters: [
                        {left: "$$", right: "$$", display: true},
                        ]
                    }
                );

                // Update left and right pointers
                $("#previous_question").removeAttr("onClick");
                if ($.inArray(question_id - 1, {{ valid_questions }}) != -1) {
                    // alert("we're in left");
                    $("#previous_question").attr("onClick", "deploy_question(" + String(question_id-1) + ", 'right')")
                }
                $("#next_question").removeAttr("onClick");
                if ($.inArray(question_id + 1, {{ valid_questions }}) != -1) {
                    // alert("we're in right")
                    $("#next_question").attr("onClick", "deploy_question(" + String(question_id+1) + ", 'left')")
                }

                // Animate back to centre after loading
                $("#quiz-content").animate({left: '0'});


                // Deploy answer boxes
                itt = 0;
                $(".answer_deletable").remove()
                var answer_length = data.answer_length;
                mq_objects.length = 0;
                var MQ = MathQuill.getInterface(2);
                for (itt=0; itt < answer_length; itt++) {
                    $("#answer_container").append('<span class="form-mcat answer_deletable" id="answer_' + itt + '"></span>')
                    mq_objects.push(MQ.MathField(document.getElementById('answer_' + itt)));
                    MQ.MathField(document.getElementById('answer_' + itt)).latex(data.recent_answer[itt])
                }
            });
            return false

        }
        deploy_question({{ current_question  }}, 0);

        $(function(){
            $("#evaluate_answer").bind('click', function(){
                var itt;
                var entered_latex = new Array();
                for (itt=0; itt < mq_objects.length; itt++) {
                    entered_latex.push(MQ.MathField(document.getElementById("answer_" + itt)).latex());
                }
                $.getJSON('_evaluate_answer', {
                    entered_answers: JSON.stringify(entered_latex),
                    question_id: current_question_id
                }, function(data) {
                    // alert(data.result);
                    if(data.result == "True") {
                        // alert("into animation");

                        $("body").animate({backgroundColor: 'rgb(48, 166, 74)'}, 'slow');
                        $("body").animate({backgroundColor: 'rgb(246, 245, 250)'}, 'slow');

                        // alert("animation over");

                        if($("#question_dropdown_"+current_question_id).hasClass("text-warning")) {
                            $("#question_dropdown_"+current_question_id).removeClass("text-warning");
                        }
                        $("#question_dropdown_"+current_question_id).addClass("text-success");
                    } else {

                        $("body").animate({backgroundColor: 'rgb(253, 192, 47)'}, 'slow');
                        $("body").animate({backgroundColor: 'rgb(246, 245, 250)'}, 'slow');

                        if($("#question_dropdown_"+current_question_id).hasClass("text-warning")) {
                            null
                        }
                        $("#question_dropdown_"+current_question_id).addClass("test-warning");
                    };
                });
                return false
            });
        });

        $(function(){
            $("#previous_question").bind('click', function(){

            });
        })

    </script>



{% endblock %}